<p style="color: green"><%= notice %></p>

<% content_for :title, "Projects" %>

<h1 class="text-lg font-semibold text-gray-900">Project一覧</h1>

<%= search_form_for @search, html: { data: { turbo_frame: "projects-list" }} do |f| %>
  <%= f.search_field :name_cont, class: "bg-white px-4 py-2 border border-gray-300 rounded-md shadow-sm transition-colors duration-200 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-transparent placeholder-gray-400" %>

  <%= f.submit class: "btn btn-primary" %>
  <%= link_to "クリア", projects_path, class: "btn btn-secondary" %>
<% end %>
<%= turbo_frame_tag "projects-list" do %>
  <%= sort_link(@search, :name, class: "mt-2 btn btn-primary") %>
  <div id="projects">
    <% @projects.each do |project| %>
      <%= render project, show_link: true %>
    <% end %>
  </div>

  <%= paginate @projects %>
<% end %>
<%= link_to "プロジェクトを追加する", new_project_path, class: "btn btn-danger" %>