<p style="color: green"><%= notice %></p>

<%= render @project, show_link: false %>

<div>
  <%= link_to "編集する", edit_project_path(@project), class: "btn btn-primary" %> |
  <%= link_to "プロジェクト一覧に戻る", projects_path, class: "btn btn-secondary" %>

  <%= button_to "Destroy this project", @project, method: :delete, class: "mt-2 btn btn-danger" %>
</div>
